/* css-reset */
* {
  margin: 0;
  padding: 0;
}

.youtube-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 25px;
}

.youtube-img {
  height: 250px;
}

.youtube-avt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.youtube-channel {
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
}

.youtube-title {
  margin-bottom: 10px;
}

.youtube-description {
  font-size: 14px;
  color: #666;
}