.game-board {
    margin: 25px;
    width: 500px;
    height: 500px;
    /* border: 1px solid #ccc; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
}

.game-cell {
    /* border: 1px solid #ccc; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.game-cell.is-x {
    color: #2cccff;
}

.game-cell.is-o {
    color: #FF6651;
}

.winner {
    font-size: 50px;
    border: 10px;
    margin-top: 20px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

.btn-reset {
    margin-left: 30px;
    display: inline-block;
}